<phpunit bootstrap="tests/unittests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Metric Tests">
            <directory>tests/unittests</directory>
        </testsuite>
        <testsuite name="Commandline Function Tests">
            <directory>tests/clifunctiontests</directory>
        </testsuite>
    </testsuites>
</phpunit>
