
<!doctype html>
<html lang="en">
  <head>
    <title>WOSPM Check Result of {{PROJECT}} created with Checker {{VERSION}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid">
      <h1>WOSPM Check Result of {{PROJECT}}</h1>
      <h2>The result is <span class="badge badge-{{STATUS_CSS}}">{{STATUS_TEXT}} ({{STATUS_PERCENT}}%)</span></h2>
      {{RESULT_TABLE}}
    </div>
  </body>
</html>
